.tags {
    display: flex;
    >* {
        margin-right: 35px;
    }
 
}

.tag {
    padding: 12px 40px;
    border: 1px solid $color-orange;
    cursor: pointer;
    border-radius: 5px;
    @include font ( $size: 2rem, $height:2.6rem);
    @extend %font-add;
    color: $color-orange;
    &_selected {
        background-color: $color-orange;
        color: $color-light;
    }
    @include media-mobile {
        padding: 8px 28px 7px;
        @include font ( $size: 1.5rem, $height:2rem);
        margin: 0 10px 9px 0;
    }
}
