.footer {
    padding: 40px 0;
    @include media-laptop {
        padding: 33px 0 18px;
    }
}
.footer__wrapper {
    display: flex;
}
.footer_navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include media-laptop {
        flex-direction: column;
        :not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
.gh_logo {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.logo_text {
    @include font( $size:2rem, $height:5rem);   
    text-decoration: none;
}
.pad {
    padding-right: 20px;
}
.rs-logo {
    margin: 0 auto;
}
.organization-banned-in-Russia {
    display: flex;
}