.header {
    background: $color-bg;
    padding: 42px 0;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_text {
    @extend %font-main;
    @include font ($size: 1.6rem, $height:2.1rem);
    color: $color-black;
}