@font-face {
    font-family: "Inika";  
    src: url("../fonts/Inika/Inika-Bold.ttf") format("truetype"); 
    src: url("../fonts/Inika/Inika-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
    }
    @font-face {
        font-family: "Inter";  
        src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
        }
         