.tools {
    background-color: $color-light;
    @include media-mobile {
        padding-bottom: 30px;
    }
}
.tools__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-laptop {
        flex-direction: column;
        align-items: center;
    }

}
.tools__content {
    max-width: 605px;
    padding-top: 161px;
    @include media-laptop {
        margin-top: 40px;
        padding: 0;
    }
    @include media-mobile {
        margin-top: 30px; 
    }

}
.tools__text {
    @extend %font-add;
    @include font ( $size: 4rem, $height: 5.2rem);
    color: $color-green;
    max-width: 463px;
    @include media-laptop {
        margin: 0 auto;
        text-align: center;
    }
    @include media-mobile {
        @include font ( $size: 2.5rem, $height: 3.3rem);
        margin-bottom: 0px;
    }
    &_mod {
        color: $color-orange;
    }
}
.tools__text:not(:last-child) {
    margin-bottom: 40px;
    @include media-mobile {
        margin: 0 auto;
    }
}

.tools__subtitle {
    @extend %font-main;
    @include font ( $size: 2rem, $height: 3rem);
    color: $color-text;
    @include media-laptop {
        @include font ( $size: 1.9rem, $height: 3rem);
        text-align:start;
    }
    @include media-mobile {
        @include font ( $size: 1.5rem, $height: 2.5rem);
        margin-bottom: 0;
    }
}

.tools__image {
    padding: 93px 0 94px;
    @include media-laptop {
        padding-top: 40px;
    }
    @include media-mobile {
        padding: 0 0;
    }
}
.houseplant__img {
    width: 464px;
    height: 479px;
    @include media-laptop {
        width: 250px;
        height: 258px;
    }
}