.price {
    padding-bottom: 115px;
    @include media-tablet {
        padding-bottom: 88px;
    }
    @include media-mobile {
        padding-bottom: 40px;
    }
}

.text__price {
    @include media-tablet {
        margin-bottom: 50px;
    }
    @include media-mobile {
        margin: 25px 0 40px;
    }
}
.price_column {
    display: flex;
    flex-direction: column;
}
.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 332px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
    @include media-tablet {
        max-width: 332px;
        max-height: 282px;
        padding-top: 50px 
    }
    @include media-tablet {
        max-width: 224px;
        max-height: 235px;
    }
}

.basics__text {
    @extend %font-main;
    @include font ( $weight: 700, $size:2rem, $height:2rem);
    color: $color-black;

}

.price_block {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
        text-align: center;
    }
}


.price_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 452px;
    @include media-mobile {
        align-items: center;
    }
}
.gardeners_text {
    text-align: end;
    margin-bottom: 38px;
    @include media-tablet {
        margin-top: 139px;
    }
    @include media-mobile {
        margin: 19px 0 14px;
        text-align: center;
    }
}
.price_image{
    padding-top: 39px;
    @include media-mobile {
        display: none;
    }
}
.leafs {
    max-width: 152px;
    max-height: 175px;
}
